.dropdown-menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: var(--speed) ease;
}

.dropdown-menu.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: var(--speed) ease;
}

.menu-trigger {
    border-color: black;
    border-radius: 5px;
    background-color: gray;
    color: white;
    align-items: center;
    cursor: default;
}

.menu-trigger:hover {
    background-color: darkgray;
}